.App {
  text-align: center;
  background-color:rgba(150, 158, 37, 0.459) ; 
   min-height: 100vh;

   
   /* #0B0B0D */
   /* #1D1919 */

   
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: #596157;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





/* .Title {

  colour: rgb(67, 121, 67);
  
  } */






.App-link {
  color:#596157;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
